# IDE and Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# macOS / Windows / Linux system files
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
desktop.ini

# SQLite databases (optional — if not meant to be in git)
*.sqlite
*.sqlite3

# Local configs
config.yaml

# Temporary files
*.xlsx
notebooks/sample.ipynb